{include file="public\head" /}
{include file="public\header" /}
{include file="public\menu" /}
	

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#index/index/content">Home</a>
							</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					
					
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

							  <ul id="content-tab" class="nav nav-tabs">
								<li data-name="before" style="float:left"><a ><i class="glyphicon glyphicon-backward"></i></a></li>
								
							
								<li data-name="next" style="float:right"><a ><i class="glyphicon glyphicon-forward"></i></a></li>
								<li data-name="close" style="float:right">
<div class="btn-group roll-nav roll-right">
                    <a class=" btn  btn-small  dropdown" style="border :0px; margin-top:-8px; padding-top:-2px; " data-toggle="dropdown" aria-expanded="false">操作<span class="caret"></span>

                    </a>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>关闭当前页</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭所有页面</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭右边所有的页面</a>
                        </li>
                    </ul>
                </div>		
		
		
		
		
		</li>
							  </ul>



						<!-- /section:basics/content.searchbox -->
						
						
					</div>
					<script>
				function closetab(obj){
							//alert('dsfs');
							var id = $(obj).parent("a").attr('href');
							$(id).detach();
							$(obj).parent("a").parent("li").detach();
							
						
						}
							
						(function ($ , undefined){
								
						$(window).resize(function(){
							initTab();	
						});				
						$(".J_tabShowActive").on("click",function(){
						
							$("li.active").show();
							$(".tab-pane .active").show();
						
						});
						$(".J_tabCloseAll").on("click",function(){
						
							$("[data-name=item]").detach();
							$("#tab_content").children().detach();
						
						});
						$(".J_tabCloseOther").on("click",function(){
						
							$("[data-name=item]").detach();
							$("#tab_content").children().detach();
						
						});	
						/*$("[data-name=closetab]").on("click",function(){
							alert('dsfs');
							//var id = $(this).parent("a").attr('href');
							//$(id).detach();
							//$(this).parent("a").parent("li").detach();
							
						
						});*/
						
						function initTab(){
							var li_list = $("#content-tab").children();
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width();
							if(con_width < li_width){
						
								var temp = li_width - con_width;
							
								if(temp<0){
							
									return false;
								}else{
									var hide_count = Math.ceil(temp/70);
									var i=0;
									var hide_li = $("[data-name=item]");
									if(hide_li.length < 0){return false;}
									while(i < hide_count){
								
										hide_li[i].style.display = "none";
										i++;
									}
									return ;
								}						
						
							}
						
						}
						$('[data-name="before"]').on("click",function (){
						var li_list = $("#content-tab").children();
							
							
							
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width();
							if(con_width < li_width){
							var i=0,a=0;
							var hide_li = $("[data-name=item]");
							if(hide_li < 0){return false;}
							while(i<2){
							
							if(hide_li[a].style.display == "none"){
							a++;
							if(a>hide_li.length){break;}
							continue;
							}else{
							hide_li[a].style.display == "inline"
							i++;
							}
							
							}
							
							}
							
						
						});
						$('[data-name="next"]').on("click",function (){
							
							var li_list = $("#content-tab").children();
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width;
							if(con_width < li_width){
							var i=0,a=0;
							var hide_li = $("[data-name=item]");
							a = hide_li;
							if(hide_li.length < 0){return false;}
							while(i<2){
							
							if(hide_li[a].style.display == "none"){
							hide_li[a].style.display == "inline";
							i++;
							}else{
							a--;
							if(a<1){break;}
							continue;						
							}
							
							}
							
							}
						
						});						
						
						
						
						})(window.jQuery);
					
					
					</script>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content" style=" padding-left: 5px; padding-right: 5px;">
					
						<div class="page-content-area" data-ajax-content="true">
							<!-- ajax content goes here -->
						</div><!-- /.page-content-area -->
						 <div id="tab_content" class="tab-content"  style="border:0px; display:none">
						 
							
						 </div>						
						
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->	

	

{include file="public\footer" /}
<script>
(function ($){
	layui.use('layer', function(){
		  var layer = layui.layer;
		  
		 // layer.msg($("#chen").attr("dref"));
			//layer = layer;

		  
		});	
	
})(window.jQuery);
</script>