
<title>Full Calendar - Ace Admin</title>

<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/components/_mod/jquery-ui.custom/jquery-ui.custom.css" />
<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/components/fullcalendar/dist/fullcalendar.css" />

<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h1>
		Full Calendar
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			with draggable and editable events
		</small>
	</h1>
</div><!-- /.page-header -->
<div class="row">
	<div class="col-xs-12">
		<iframe src="/test/Coredataoutputeview/index" style="width:100%;height:600px;"></iframe>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-sm-9">
				<div class="space"></div>

				<!-- #section:plugins/data-time.calendar -->
				<div id="calendar"></div>

				<!-- /section:plugins/data-time.calendar -->
			</div>

			<div class="col-sm-3">
				<div class="widget-box transparent">
					<div class="widget-header">
						<h4>Draggable events</h4>
					</div>
				
				
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

