				<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">林北软件集团</span>
							Application &copy lnbei Software Group; 2013-2099
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>

					<!-- /section:basics/footer -->
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
		
		
		<script type="text/javascript"> ace.vars['base'] = '..'; </script>
		
		<!-- 模态框集合
		每个模态框存在的时间为20分钟，超时后自动清除
		模态框标准格式为div标签嵌套模态框；
		currenttime：当前时间；timeout：超时时间
		 -->
		<div id="LB_MODEL_LIST"></div>
		<script type="text/javascript" src="__js__/LBParent/LB.Parent.js"></script>		
	</body>
</html>





		





