
<title>完善个人资料</title>


<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h1>
		首页
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			完善资料
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" id="submitForm" role="form">
			<!-- #section:elements.form -->
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="Names"> 姓名 </label>

				<div class="col-sm-9">
					<input type="text"  name="Names"  class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="phone"> 手机号 </label>

				<div class="col-sm-9">
					<input type="text" name="phone" placeholder="" class=" col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<!-- /section:elements.form -->
			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-3">职业</label>

				<div class="col-sm-9">
					<input type="text" name="Occupation" id="form-field-3" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1-4" >地址</label>

				<div class="col-sm-9">
					<input type="text" name="Adress" id="form-field-4" placeholder="Adress" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-5">联系电话</label>

				<div class="col-sm-9">
					<input type="text" name="tel" id="form-field-5" placeholder="" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>
			
			<div class="space-4"></div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-6">工作单位</label>

				<div class="col-sm-9">
					<input type="text" name="Workunit" id="form-field-6" placeholder="" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>
			
			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-7">毕业学校</label>

				<div class="col-sm-9">
					<input type="text" name="Graduation" id="form-field-7" placeholder="tel" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-8">学历</label>

				<div class="col-sm-9">
					<input type="text" name="Education" id="form-field-8" placeholder="" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-9">最高教育</label>

				<div class="col-sm-9">
					<input type="text" name="Highesteducation" id="form-field-9" placeholder="" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-10">最高学历</label>

				<div class="col-sm-9">
					<input type="text" name="Highesteducation" id="form-field-10" placeholder="tel" class="col-xs-10 col-sm-5" />
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">*</span>
					</span>
				</div>
			</div>
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="button">
						<i class="ace-icon fa fa-check bigger-110"></i>
						提交
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="submit">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						保存
					</button>
				</div>
			</div>

			<div class="hr hr-24"></div>
</form>
	
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
	$(document).ready(function (){
		
	  var validationConfig = {
		form:"#submitForm",//form表单的选择器
		rules:{
			Names:{
				 required: true,
			     maxlength: 20
			},
			phone:{
				digits:true,
			     minlength: 11
			}
			
		},//验证规则
		messages:{
			
			Names:{
				 required: "请输入一个名字",
			     minlength: "长度不能超过20"
			},
			phone:{
				digits:"请输入一个合法的手机号",
			     minlength: 11
			}
			
		},//验证弹出的消息
		submitFun:function(str){
			if(str.code == 0){
				
				alert(str.msg);
			}
			return false;
		},	//提交回调函数
		url:"{:url('index/user/saveDetailInfo')}",//提交的数据
		type:0,
		submitFunCallback:""
	  };
	  window.LbInput.bindFrom(validationConfig);
	});

</script>
