
<title>Form Elements - Ace Admin</title>


<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h1>
		Form Elements
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			Common form elements and layouts
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<div class="widget-box">
					<div class="widget-header widget-header-flat">
						<h4 class="widget-title">验证方式</h4>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-sm-6">
									<ul>
										<li>Unordered List Item</li>

										<li>
											<small>List Item in small tag</small>
										</li>

										<li>
											<b>List Item in bold tag</b>
										</li>

										<li>
											<i>List Item in italics tag</i>
										</li>

									
										<li>Unordered List Item which is a longer item and may break into more lines.</li>

										<li>
											<strong>List Item in strong tag</strong>
										</li>

										<li>
											<em>List Item in emphasis tag</em>
										</li>
									</ul>
								</div>

					
							</div>

							<hr>
						
						</div>
					</div>
				</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->


